@model IEnumerable<mvc4_poject.Models.PostIntro>

@{
    ViewBag.Title = "Index";
}

<h2>Search:</h2>
@using (Html.BeginForm("Search", "Home", FormMethod.Get))
{
        <h3>
            <select id="PostCat" name="PostCat" class="form-control" style="float:left ;width:150px;">
                <option value="">All</option>
                <option>Economy</option>
                <option>Other</option>
                <option>Politics</option>
                <option>Technology</option>
                <option>Sports</option>
                <option>Celebrity</option>
            </select>
            Title: @Html.TextBox("Stitle")
            Author: @Html.TextBox("Sauthor")
            <input type="submit" style="margin-left:10px" class="btn btn-primary btn-default" role="button" value="Search" />
        </h3>
}
<h2 style="text-decoration: underline;">Top posts:</h2>
@foreach (var item in Model) {
    <div class="row" style="float: left; width: 50%; height: 520px">
  <div class="col-sm-6 col-md-4" style="width:100%">
      <div class="thumbnail">
          <img src="@item.image" class="imageS" alt="" style="border-radius:15px"><s5>@item.title</s5>
          <div class="caption">
              <h2 id="intro-@item.id"></h2>
          </div>
          <p><span class="intro" data-idpost="@item.id"><a class="btn btn-default" role="button" id="introButton">Intro</a></span> <a href="/Post/FullPost/@item.id" class="btn btn-primary" role="button">Full Article</a></p>
      </div>
  </div>
</div>
}

@section scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $(".intro").mousedown(function () {
                var Id1 = $(this).attr("data-idpost");
                $.ajax({
                    url: '@Url.Action("GetIntro", "Home")',
                    type: 'GET',
                    dataType: 'json',

                    cache: false,
                    data: { Postid: Id1 },
                    success: function (data) {
                        var x = data;
                        document.getElementById("intro-" + Id1).innerHTML = data.intro;                       
                    }
                });

            })
        });
    </script>

    <script type="text/javascript">

            $(document).ready(function () {
                $(".intro").mousedown(function () {
                    //alert();
                })
            });
    </script>


}


