@model mvc4_poject.Models.Reporter

@{
    ViewBag.Title = "Delete";
}

<br />
<h1><b>Delete:</b></h1>

<br />
<h2>Are you sure you want to delete @Model.name?</h2>
<fieldset>
    <legend>Reporter</legend>

    <h2>
        <u>ID:</u>
        @Html.DisplayFor(modelItem => modelItem.tz)

        <br /><u>Name:</u>
        @Html.DisplayFor(modelItem => modelItem.name)

        <br /><u>Birthday:</u>
        @Html.DisplayFor(modelItem => modelItem.bd)

        <br /><u>Email:</u>
        @Html.DisplayFor(modelItem => modelItem.email)

        <br /><u>Image:</u>
        @Html.DisplayFor(modelItem => modelItem.img)

        <br /><u>Phone:</u>
        @Html.DisplayFor(modelItem => modelItem.phone)
    </h2>

</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <br />
        <button type="submit" class="btn btn-default"> Delete</button>

        <h2>
            @Html.ActionLink("Back", "Index")
        </h2>
    </p>
}
