@model mvc4_poject.Models.Reporter

@{
    ViewBag.Title = "Details";
}

<h1><b>Details of @Html.DisplayFor(modelItem => modelItem.name)</b></h1>

<fieldset>
    <legend>Reporter</legend>

    <h2>
        <img src="@Model.img" width="100" height="100" align="middle">
        <br />
        <u>ID:</u>
        @Html.DisplayFor(modelItem => modelItem.tz)

        <br /><u>Name:</u>
        @Html.DisplayFor(modelItem => modelItem.name)

        <br /><u>Info:</u>
        @Html.DisplayFor(modelItem => modelItem.info)

        <br /><u>Birthday:</u>
        @Html.DisplayFor(modelItem => modelItem.bd)

        <br /><u>Email:</u>
        @Html.DisplayFor(modelItem => modelItem.email)

        <br /><u>Phone:</u>
        @Html.DisplayFor(modelItem => modelItem.phone)
    </h2>

    <!--
    SELECT Customers.CustomerName, Orders.OrderID
    FROM Customers
    INNER JOIN Orders
    ON Customers.CustomerID=Orders.CustomerID
    -->

    @{
        var db = Database.Open("PostDBContext");
        var Query = "SELECT * FROM Posts WHERE IdAuthor="+@Model.ID;
        var data = db.QuerySingle(Query);
     }
    @foreach (var row in db.Query(Query))
    {
        <a style="margin-right:8px" href="/Post/FullPost/@row.id" class="btn btn-info" role="button">@row.title</a>
    }


</fieldset>
<br />
<h2>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back", "Index")
</h2>