@model mvc4_poject.Models.Reporter

@{
    ViewBag.Title = "Details";
}

<h1><b>Details of @Html.DisplayFor(modelItem => modelItem.name)</b></h1>

<fieldset>
    <legend>Reporter</legend>

    <h2>
        <u>ID:</u>
        @Html.DisplayFor(modelItem => modelItem.tz)

        <br /><u>Name:</u>
        @Html.DisplayFor(modelItem => modelItem.name)

        <br /><u>Info:</u>
        @Html.DisplayFor(modelItem => modelItem.info)

        <br /><u>Birthday:</u>
        @Html.DisplayFor(modelItem => modelItem.bd)

        <br /><u>Email:</u>
        @Html.DisplayFor(modelItem => modelItem.email)

        <br /><u>Image:</u>
        @Html.DisplayFor(modelItem => modelItem.img)

        <br /><u>Phone:</u>
        @Html.DisplayFor(modelItem => modelItem.phone)
    </h2>
</fieldset>
<br />
<h2>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back", "Index")
</h2>