@model IEnumerable<mvc4_poject.Models.Reporter>

@{
    ViewBag.Title = "Index";
}

<h1><b>Our reporters:</b></h1>
@foreach (var item in Model)
{
    <div>
        <div>
            <img src="@item.img" width="100" height="100" align="middle">
        </div>

        <div>
            <h2>
                <u>Name:</u>
                @Html.DisplayFor(modelItem => item.name)

                <br /><u>Info:</u>
                @Html.DisplayFor(modelItem => item.info)

                <br /><u>Birthday:</u>
                @Html.DisplayFor(modelItem => item.bd)

                <br /><u>Email:</u>
                @Html.DisplayFor(modelItem => item.email)

                <br /><u>Phone:</u>
                @Html.DisplayFor(modelItem => item.phone)
            </h2>
        </div>
    </div>
    <h3>
        @if (Request.IsAuthenticated)
        {
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) ;
            @Html.ActionLink("Details", "Details", new { id = item.ID }) ;
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        }
    </h3>
}
@if (Request.IsAuthenticated)
{
    <h2>@Html.ActionLink("Add a new reporter", "Create")</h2>
}


