@model IEnumerable<mvc4_poject.Models.Comment>

@{
    ViewBag.Title = "Comments";
}

<h2>Comments</h2>


@if(Model.ToArray().Length==0 || Model==null){
    <p> No comments!!!!!!!</p>

}
else
{
    <table>
        <tr>
            <td>id</td>
            <td>author</td>
            <td>title</td>
            <td>body</td>
            <th></th>
        </tr>

        @foreach (var item in Model) {
        <tr>
            <td>@item.id</td>
            <td>@item.author</td>
            <td>@item.title</td>
            <td>@item.body</td>
            <td>
                @Html.ActionLink("Delete", "DeleteComment", new { CommentId = item.id, PostId = item.postId })
            </td>
        </tr>
        }

    </table>
        @Html.ActionLink("Back to List", "Index")
}




