@model IEnumerable<mvc4_poject.Models.ReporterAndPosts>

@{
    ViewBag.Title = "AuthorPosts";
}

<h2>AuthorPosts</h2>


<table class="table table-striped" style="border:double">
    <tr>
        <th style="padding-right: 10px; background-color: #4ad06e">id post</th>
        <th style="padding-right: 10px; background-color: #4ad06e">title</th>
        <th style="padding-right: 10px; background-color: #4ad06e">Post date</th>
        <th style="padding-right: 10px; background-color: #4db1ee">id reporter</th>
        <th style="padding-right: 10px; background-color: #4db1ee">name reporter</th>
        <th style="padding-right: 10px; background-color: #4db1ee">phone reporter</th>
        <th style="padding-right: 10px; background-color: #4db1ee">phone reporter</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="background-color: #4ad06e">@item.posts.id</td>
            <td style ="background-color: #4ad06e">@item.posts.title</td>
            <td style="background-color: #4ad06e">@item.posts.date</td>
            <td style="background-color: #4db1ee">@item.rep.ID</td>
            <td style="background-color: #4db1ee">@item.rep.name</td>
            <td style="background-color: #4db1ee">@item.rep.phone</td>
            <td style="background-color: #4db1ee">@item.rep.email</td>
      </tr>
    }

</table>

<h1 style="background-color: #4db1ee">all the data with this background got from Reporters database</h1>
<h1 style="background-color: #4ad06e; ">all the data with this background got from Posts database</h1>

<a href="/Post/index" class="btn btn-primary" role="button" style="">Return</a> 