@model mvc4_poject.Models.helperBlogController

@{
    ViewBag.Title = Model.PostComments.First().post.title;
 }
<link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
<!--always will be one-->
@foreach (var item in Model.PostComments)
{
    <div style="width:100%">
        <section style="padding:12px">
            <article class=" blogpost" style="width:100%" >
                <header>
                    <b2>@item.post.title</b2>
                    <p>
                        <h2 style="font-family: BarFont;">
                            Posted on (@item.post.date)
                            <br />Written by
                            <a href=@Url.Action("Details", "Reporters", new { id = item.post.IdAuthor })>@item.post.author</a><br />
                                Category: @item.post.category <br />
                                Number of comments: @(item.numberOfCom)
                        </h2>
                    </p>
                </header>
                <p>
                    <h5 style="font-size: medium">@item.post.intro</h5>
                </p>
                
                    <div>
                        <h2>@item.post.body</h2><br />
                        @if (@item.post.images != null)
                        {
                            char[] delimiterChars = { ',' };
                            string[] images = (item.post.images.Split(delimiterChars));

                                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <!--
                               <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            -->
                                        @{int counter = 0;}
                                        <li data-target="#myCarousel" data-slide-to=@counter class="active"></li>
                                        @{counter = counter + 1;}
                                        @for (var i = 1; i < images.Count(); i++, counter++)
                                        {
                                            <li data-target="#myCarousel" data-slide-to=@counter></li>
                                        }
                                    </ol>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">
                                        @{counter = 2;}
                                        @foreach (var helper2 in images)
                                        {
                                            if (counter.Equals(2))
                                            {
                                                <div class="item active" align="center">
                                                    <img src=@helper2 alt="" width="700" height="700" align="middle">
                                                    <div class="carousel-caption">
                                                    </div>
                                                </div>
                                                        counter = 3;
                                            }
                                            else
                                            {
                                                <div class="item" align="center">
                                                    <img src=@helper2 alt="" width="700" height="700" align="middle">
                                                    <div class="carousel-caption">
                                                    </div>
                                                </div>
                                            }

                                        }
                                    </div>

                                    <!-- Left and right controls -->
                                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>



                        }

                        @if (@item.post.video != null)
                        {
                            <video controls="controls" style="padding-top:15px">
                                <source src=@item.post.video type="video/mp4" />
                                Your browser does not support the video tag.
                            </video>
                        }

                    </div>
</article>
        </section>
    </div>
    
    if (item.comments != null)
    {
        <article id="headline">
            <h2 style="text-decoration: underline;">comments:</h2><br />
        </article>
        foreach (var comment in item.comments)
        {
                <!--all the comments-->
                <article id="headline" style="padding-left:8px" >
                        <h3 style="text-decoration: underline">@comment.title</h3>
                        by: @comment.author<br />
                        @comment.body
                </article>
        }
    }    <br />
        <div>
            <article>
                <form action="/Post/addComment">
                    <h2>Add new comment:</h2>
                    <h3>
                        <input type="text" class="form-control" id="author" name="author" maxlength="20" placeholder="Author" style="width:300px;" />
                        <input type="text" class="form-control" id="title" name="title" maxlength="15" placeholder="Title" style="width:300px;" />
                        <input type="text" class="form-control" id="body" name="body" placeholder="Comment.." style="width:300px;" />
                    </h3>
                    <input type="text" name="postId" value="@item.post.id" readonly hidden><br>
                    <input type="submit" class="btn btn-primary btn-default" role="button" value="Submit" /><br />
                </form>
            </article>
        </div>

}
