@model mvc4_poject.Models.helperBlogController

@{
    ViewBag.Title = "Index2";
}

<h1></h1>
<!--always will be one-->
@foreach (var item in Model.PostComments)
{
    <div style="width:100%">
        <section style="padding:12px">
            <article class=" blogpost">
                <header>
                    <h1>@item.post.title</h1>
                    <p>
                        <h4>Posted on (@item.post.date) </h4>
                        <h4>Written by @item.post.author</h4>
                        <a href=@Url.Action("Details", "Reporters", new { id = item.post.IdAuthor })>click</a>
                        <h4>Category: @item.post.category</h4>
                        <h4>Number of comments:@(item.numberOfCom)</h4>
                    </p>
                </header>
                <p>
                    <h5>@item.post.intro</h5>
                </p>

                <div>
                    <p>@item.post.body</p>
                    @if (@item.post.images != null)
                    {
                        <img src="@item.post.images" />
                    }

                    @if (@item.post.video != null)
                    {
                        <video controls="controls">
                            <source src=@item.post.video type="video/mp4" />
                            Your browser does not support the video tag.
                        </video>
                    }

                </div>
            </article>
        </section>
    </div>

    if (item.comments != null)
    {
        <h3 style="padding-left:25px ;padding-top:10px">comments:</h3><br />
        foreach (var comment in item.comments)
        {
            <br />
            <section id="comments">

                <!--all the comments-->
                <article style="padding-left:30px ">
                    <header>
                        <h4>@comment.title</h4>   by:@comment.author
                    </header>
                    <p style="padding-left:10px ">@comment.body</p>
                </article>

            </section>
        }
    }    <br />
        <div>
            <form action="/Post/addComment">
                <h3>Add comment:</h3><br>
                author: <input type="text" name="author"><br>
                title: <input type="text" name="title"><br>
                body: <input type="text" name="body"><br>
                <input type="text" name="postId" value="@item.post.id" readonly hidden><br>
                <input type="submit" value="Submit">
            </form>
        </div>

}
