@model IEnumerable<mvc4_poject.Models.PostIntro>

@{
    ViewBag.Title = "Index";
}

<div id="search">
    <h2 style="padding-bottom:10px">Sort by category:</h2>
    <span class="category_buttons" data-categry="All">
        <button type="button" class="btn btn-default">All</button>
    </span>

    <span class="category_buttons" data-categry="Politics">
        <button type="button" class="btn btn-primary">Politics</button>
    </span>

    <!-- Indicates a successful or positive action -->
    <span class="category_buttons" data-categry="Economy">
        <button type="button" class="btn btn-success">Economy</button>
    </span>

    <!-- Contextual button for informational alert messages -->
    <span class="category_buttons" data-categry="Sports">
        <button type="button" class="btn btn-info">Sports</button>
    </span>

    <!-- Indicates caution should be taken with this action -->
    <span class="category_buttons" data-categry="Celebrity">
        <button type="button" class="btn btn-warning">Celebrity</button>
    </span>

    <!-- Indicates a dangerous or potentially negative action -->
    <span class="category_buttons" data-categry="Technology">
        <button type="button" class="btn btn-danger">Technology</button>
    </span>

    <span class="category_buttons" data-categry="Other">
        <button type="button" class="btn btn-default">Other</button>
    </span>
    <a href="/Post/statistics" class="btn btn-primary" role="button" style="float:right">show statistics</a> 
</div>

@foreach (var item in Model)
{
    <div class="row" style="float: left; width: 50%;height:550px" data-categry="@item.category">
        <div class="col-sm-6 col-md-4" style="width:100%">
            <div class="thumbnail">
                <img src="@item.image" class="imageS" alt=""><s5>@item.title</s5>
                <div class="caption">
                    <h2 id="intro-@item.id"></h2>
                </div>
                <p><span class="intro" data-idpost="@item.id"><a class="btn btn-default" role="button" id="introButton">Intro</a></span> <a href="/Post/FullPost/@item.id" class="btn btn-primary" role="button">Full Article</a></p>
            </div>
        </div>
    </div>
}

@section scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $(".intro").mousedown(function () {
                var Id1 = $(this).attr("data-idpost");
                $.ajax({
                    url: '@Url.Action("GetIntro", "Home")',
                    type: 'GET',
                    dataType: 'json',

                    cache: false,
                    data: { Postid: Id1 },
                    success: function (data) {
                        var x = data;
                        document.getElementById("intro-" + Id1).innerHTML = data.intro;
                    }
                });

            })
        });
    </script>

    <script type="text/javascript">

        $(document).ready(function () {
            $(".category_buttons").mousedown(function () {
                var c = $(this).attr("data-categry");
                $(".row").each(function (item) {
                    if (c == "All") {
                        $(this).show();
                    }
                    else {
                        if ($(this).data("categry") != c) {
                            $(this).hide();
                        } else {
                            $(this).show();
                        }
                    }
                });
                
            })
        });
    </script>


}


