<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/sbicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <img src="/Images/defualt/title.png" style="height: 170px;" />
    <div>
        <nav class="navbar navbar-inverse" style="position: absolute;left: 0;width: 100%;">
            <ul class="nav navbar-nav">
                <li style=" font-size: 2.5em;">@Html.ActionLink("Home", "Index", "Home")</li>
                <li style=" font-size: 2.5em;">@Html.ActionLink("All posts", "Index", "Post")</li>
                @if (Request.IsAuthenticated)
                {
                    <li style=" font-size: 2.5em;">@Html.ActionLink("Reporters(Admin)", "Index", "Reporters")</li>
                }
                else
                {
                    <li style=" font-size: 2.5em;">@Html.ActionLink("Reporters", "Index", "Reporters")</li>
                }
                <li style=" font-size: 2.5em;">@Html.ActionLink("Weather", "Weather", "Home")</li>
                @if (Request.IsAuthenticated)
                {
                    <li style=" font-size: 2.5em;">@Html.ActionLink("Admin(" + User.Identity.Name+")", "Index", "Manager")</li>
                }
                else
                {
                    <li style=" font-size: 2.5em;">@Html.ActionLink("Admin Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                }
                
            </ul>
        </nav>
    </div>

    <div id="body">
        @RenderSection("featured", required: false)
        <div style="padding-left: 25px ;padding-top:40px">
            @RenderBody()
        </div>
    </div>
    <footer>
            <div class="float-left">
                <h3>Date:@DateTime.Now</h3>
                <h3>&copy; Made by:Bar Magnezi & Senia kalma</h3>
            </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
